.git
.gitignore
.github
.idea

.venv
venv
env

__pycache__
*.py[cod]
*.pyo

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

*.log

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml

node_modules

staticfiles
media

